.container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.container:hover {
  border: 3px solid orange;
}

.basket {
  width: 50%;
  height: 50%;
  translate: -10% 0;
}

.badge {
  font-size: 1rem;
  position: absolute;
  width: 45%;
  height: 45%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  bottom: 0;
  right: 0;
  translate: 25% 25%;
}